<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <title>Oscar's Journal {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/theme.css"/>
    <meta charSet="UTF-8" />
    <meta name="author" content="Oscar Cortez" />
    <meta name="keywords" content="oscar, cortez, oscar cortez, computer science, software, software engineering, web, web development, web design, developer, python, django, nicaragua, nic" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Python developer at the intersection of design and code." />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#111111" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Hey, I'm Oscar Cortez, a Python developer from Nicaragua and this is my journal." />
    <meta name="twitter:creator" content="@oscar_mcm" />
    <meta name="twitter:site" content="@oscar_mcm" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://journal.oscarmcm.com" />
    <meta property="og:description" content="Hey, I'm Oscar Cortez, a Python developer from Nicaragua and this is my journal." />
    <meta property="og:image" content="{{ SITEURL }}/theme/profile.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript">
      if (localStorage.oscarmcm_theme === 'dark' || (!('oscarmcm_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        localStorage.oscarmcm_theme = 'dark'
      } else {
        document.documentElement.classList.remove('dark')
        localStorage.oscarmcm_theme = 'light'
      };
      function toggleTheme() {
        if (document.documentElement.className === 'dark') {
          document.documentElement.classList.remove('dark')
          localStorage.oscarmcm_theme = 'light'
        } else {
          document.documentElement.classList.add('dark')
          localStorage.oscarmcm_theme = 'dark'
        };
      };
    </script>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="fflex h-full bg-zinc-50 dark:bg-black">
    <header class="pointer-events-none relative z-50 flex flex-none flex-col" style="height:var(--header-height);margin-bottom:var(--header-mb)">
      <div class="top-0 z-10 h-16 pt-6" style="position:var(--header-position)">
        <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full" style="position:var(--header-inner-position)">
          <div class="mx-auto w-full max-w-7xl lg:px-8">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="relative flex gap-4">
                  <div class="flex flex-1"></div>
                  <div class="flex flex-1 justify-end md:justify-center">
                    <div class="pointer-events-auto md:hidden" data-headlessui-state="">
                      <button class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20" type="button" aria-expanded="false" data-headlessui-state="" id="headlessui-popover-button-:R2miqla:">
                        Menu
                        <svg viewBox="0 0 8 6" aria-hidden="true" class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400">
                          <path d="M1.75 1.75 4 4.25l2.25-2.5" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </button>
                    </div>
                    <div style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none"></div>
                    {% if output_file != "index.html" %}
                    <nav class="pointer-events-auto hidden md:block">
                      <ul class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
                        <li>
                          <a class="{% if output_file == "index.html" %} text-teal-500 dark:text-teal-400 {% endif %} relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/">
                            Home
                            {% if output_file == "index.html" %}
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span>
                            {% endif %}
                          </a>
                        </li>
                        <li>
                          <a class="{% if output_file == "about/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/about/">
                            About
                            {% if output_file == "about/index.html" %}
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span>
                            {% endif %}
                          </a>
                        </li>
                        <li>
                          <a class="{% if "essays" in output_file %} text-teal-500 dark:text-teal-400 {% endif %} relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/essays/">
                            Blog
                            {% if "essays" in output_file %}
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span>
                            {% endif %}
                          </a>
                        </li>
                        <li>
                          <a class="{% if output_file == "projects/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/projects/">
                            Projects
                            {% if output_file == "projects/index.html" %}
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span>
                            {% endif %}
                          </a>
                        </li>
                        <li>
                          <a class="{% if output_file == "talks/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400" href="/talks/">
                            Speaking
                            {% if output_file == "talks/index.html" %}
                            <span class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-teal-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-teal-400/40 dark:to-teal-400/0"></span>
                            {% endif %}
                          </a>
                        </li>
                      </ul>
                    </nav>
                    {% endif %}
                  </div>
                  <div class="flex justify-end md:flex-1">
                    <div class="pointer-events-auto">
                      <button onclick="toggleTheme()" type="button" aria-label="Switch to light theme" class="group rounded-full bg-white/90 px-3 py-2 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur transition dark:bg-zinc-800/90 dark:ring-white/10 dark:hover:ring-white/20">
                        <svg viewBox="0 0 24 24" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" class="h-6 w-6 fill-zinc-100 stroke-zinc-500 transition group-hover:fill-zinc-200 group-hover:stroke-zinc-700 dark:hidden [@media(prefers-color-scheme:dark)]:fill-teal-50 [@media(prefers-color-scheme:dark)]:stroke-teal-500 [@media(prefers-color-scheme:dark)]:group-hover:fill-teal-50 [@media(prefers-color-scheme:dark)]:group-hover:stroke-teal-600">
                          <path d="M8 12.25A4.25 4.25 0 0 1 12.25 8v0a4.25 4.25 0 0 1 4.25 4.25v0a4.25 4.25 0 0 1-4.25 4.25v0A4.25 4.25 0 0 1 8 12.25v0Z"></path>
                          <path d="M12.25 3v1.5M21.5 12.25H20M18.791 18.791l-1.06-1.06M18.791 5.709l-1.06 1.06M12.25 20v1.5M4.5 12.25H3M6.77 6.77 5.709 5.709M6.77 17.73l-1.061 1.061" fill="none"></path>
                        </svg>
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="hidden h-6 w-6 fill-zinc-700 stroke-zinc-500 transition dark:block [@media(prefers-color-scheme:dark)]:group-hover:stroke-zinc-400 [@media_not_(prefers-color-scheme:dark)]:fill-teal-400/10 [@media_not_(prefers-color-scheme:dark)]:stroke-teal-500">
                          <path d="M17.25 16.22a6.937 6.937 0 0 1-9.47-9.47 7.451 7.451 0 1 0 9.47 9.47ZM12.75 7C17 7 17 2.75 17 2.75S17 7 21.25 7C17 7 17 11.25 17 11.25S17 7 12.75 7Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer class="mt-32 flex-none">
      <div class="sm:px-8">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="border-t border-zinc-100 pb-16 pt-10 dark:border-zinc-700/40">
            <div class="relative px-4 sm:px-8 lg:px-12">
              <div class="mx-auto max-w-2xl lg:max-w-5xl">
                <div class="flex flex-col items-center justify-between gap-6 sm:flex-row">
                  <div class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200">
                    {% if output_file != "index.html" %}
                    <a class="{% if output_file == "about/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} transition hover:text-teal-500 dark:hover:text-teal-400" href="/about/">About</a>
                    <a class="{% if "essays" in output_file %} text-teal-500 dark:text-teal-400 {% endif %} transition hover:text-teal-500 dark:hover:text-teal-400" href="/essays/">Blog</a>
                    <a class="{% if output_file == "projects/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} transition hover:text-teal-500 dark:hover:text-teal-400" href="/projects/">Projects</a>
                    <a class="{% if output_file == "talks/index.html" %} text-teal-500 dark:text-teal-400 {% endif %} transition hover:text-teal-500 dark:hover:text-teal-400" href="/talks/">Speaking</a>
                    {% endif %}
                  </div>
                  <p class="text-sm text-zinc-400 dark:text-zinc-500">&copy; 2023 Oscar Cortez.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
