<head>
  <title>Now</title>
</head>
<body>
  <main class="flex-auto">
    <div class="sm:px-8 mt-16 lg:mt-32">
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="xl:relative">
              <div class="mx-auto max-w-2xl">
                <a href="/" aria-label="Go back to articles" class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 transition dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 dark:ring-white/10 dark:hover:border-zinc-700 dark:hover:ring-white/20 lg:absolute lg:-left-5 lg:-mt-2 lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0">
                  <svg viewBox="0 0 16 16" fill="none" aria-hidden="true" class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700 dark:stroke-zinc-500 dark:group-hover:stroke-zinc-400">
                    <path d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
                <article>
                  <header class="flex flex-col">
                    <h1 class="mt-6 text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">What Am I Working On Now</h1>
                    <p class="order-first flex items-center text-base text-zinc-400 dark:text-zinc-500">
                      <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                      <span class="ml-3"><b>Last Edit:</b> Oct 04, 2023</span>
                    </p>
                  </header>
                  <div class="mt-8 prose dark:prose-invert" data-mdx-content="true">
                    <p>Ever get asked, “So what are you up to now?” Yea me too. So this page answers that question.</p>
                    <p>This page is inspired by <a href="https://www.petersanchez.com/now/">Peter Sanchez Now page</a>, which was inspired by <a href="https://sivers.org/now">Derek Sivers</a> <a href="https://nownownow.com/about">/now page movement.</a></p>
                    <h3 id="bussiness">Bussiness</h3>
                    <ul>
                      <li>I work full-time as a Sr. Python developer at <a href="https://www.netlandish.com" target="_blank">Netlandish</a>.</li>
                      <li>Started investing more time improving process on my farm.</li>
                      <li>Finish my app for improve the Taxi rate systems in Managua.</li>
                      <li>Start with my rice-growing company.</li>
                      <li>Help some friend on his career to become a developer.</li>
                    </ul>
                    <h3 id="personal">Personal</h3>
                    <ul>
                      <li>Finish at least one cooking course this year.</li>
                      <li>Spend more time improving my VIM skills.</li>
                      <li>End this year with at least 5 books readed.</li>
                      <li>Buy a motorcycle and convert it to Cafe-Racer style.</li>
                      <li>I dabble with the Ukulele.</li>
                      <li>Work from three different countries.</li>
                      <li>I’m attempting to blog more often in 2018. I had a goal of blogging once a week in 2017, but I published roughly half of my goal.</li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
